extends ../layout

block content
  #pad-wrapper.users-list
    .row-fluid.header
      h3 Users
      .span10.pull-right
        input.span5.search(type='text', placeholder='Type a user name...')
        .ui-dropdown
          .head(data-toggle='tooltip', title='', data-original-title='Click me!')
            | Filter users
            i.arrow-down
          .dialog(style='display: none;')
            .pointer
              .arrow
              .arrow_border
            .body
              p.title
                | Show users where:
              .form
                select
                  option Name
                  option Email
                  option Number of orders
                  option Signed up
                  option Last seen
                select
                  option is equal to
                  option is not equal to
                  option is greater than
                  option starts with
                  option contains
                input(type='text')
                a.btn-flat.small Add filter
        a.btn-flat.success.pull-right(href='/admin/users/new')
          span +
          | NEW USER
    .row-fluid.table
      table.table.table-hover
        thead
          tr
            th.span4.sortable
              | Name
            th.span3.sortable
              span.line
              | Email
            th.span2.sortable
              span.line
              | Total spent
            th.span3.sortable.align-right
              span.line
              | Action
        tbody
          - for (var userIdx in users) {
            tr(onclick="document.location.href = '/admin/users/#{users[userIdx]._id}'")
              td
                img.img-circle.avatar.hidden-phone(src='')
                a.name(href='#')= users[userIdx].name
              td
                | 
                a(href='')= users[userIdx].email
              td
                | 
              td.align-right
                ul.actions
                  li
                    a(href="/admin/users/#{users[userIdx]._id}")
                      i.icon-eye-open
                  li
                    a(href="/admin/users/#{users[userIdx]._id}/edit")
                      i.icon-pencil
                  li.last
                    a(href="#")
                      i.icon-trash
          - }
          
    .pagination.pull-right
      ul
        li
          a(href='http://detail.herokuapp.com/user-list.html#') ‹
        li
          a.active(href='http://detail.herokuapp.com/user-list.html#') 1
        li
          a(href='http://detail.herokuapp.com/user-list.html#') 2
        li
          a(href='http://detail.herokuapp.com/user-list.html#') 3
        li
          a(href='http://detail.herokuapp.com/user-list.html#') 4
        li
          a(href='http://detail.herokuapp.com/user-list.html#') 5
        li
          a(href='http://detail.herokuapp.com/user-list.html#') ›